{% load static %}<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

  <title>{% block title %}
  {% block title.pre %}Curip - {% endblock title.pre %}{% block title.content %}
  {% endblock title.content %}{% block title.pos %} - Oxigenai{% endblock title.pos %}
  {% endblock title %}</title>

  {% block stylesheet %}{% endblock %}
</head>
<body>
<header>
  {% block pageheader %}
  {% endblock pageheader %}
</header>
<main>
  {% block content %}
  {% endblock content %}
</main>
<footer>
  {% block footer %}
  {% endblock footer %}
</footer>
{% block javascript %}
{% endblock javascript %}
</body>
</html>
